In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Thompson,CA,2022-05-05 01:44:16,55.7435,-97.8558,30.36,74,100,3.44
1,1,Punta Umbria,ES,2022-05-05 01:51:52,37.1821,-6.9661,58.23,72,0,7.94
2,2,Ewa Beach,US,2022-05-05 01:51:53,21.3156,-158.0072,84.15,54,75,20.71
3,3,Mar Del Plata,AR,2022-05-05 01:50:53,-38.0023,-57.5575,55.94,73,0,14.00
4,4,Carnarvon,AU,2022-05-05 01:51:54,-24.8667,113.6333,77.07,36,75,19.57

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API Key
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
head_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
head_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Ewa Beach,US,2022-05-05 01:51:53,21.3156,-158.0072,84.15,54,75,20.71
4,4,Carnarvon,AU,2022-05-05 01:51:54,-24.8667,113.6333,77.07,36,75,19.57
8,8,Hilo,US,2022-05-05 01:44:41,19.7297,-155.0900,78.28,96,100,10.36
12,12,Ojinaga,MX,2022-05-05 01:51:57,29.5667,-104.4167,88.75,14,0,3.44
29,29,Acarau,BR,2022-05-05 01:52:03,-2.8856,-40.1200,77.77,86,100,10.40
30,30,Vanimo,PG,2022-05-05 01:44:53,-2.6741,141.3028,87.08,66,88,4.79
34,34,Rikitea,PF,2022-05-05 01:47:26,-23.1203,-134.9692,77.63,84,71,19.95
38,38,Butaritari,KI,2022-05-05 01:44:35,3.0707,172.7902,81.36,77,28,13.02
42,42,Vaini,TO,2022-05-05 01:44:55,-21.2000,-175.2000,80.76,74,40,6.91
43,43,Ukiah,US,2022-05-05 01:47:09,39.1502,-123.2078,82.29,34,0,9.22

In [20]:
preferred_cities_df.count()

City_ID       176
City          176
Country       175
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2    Ewa Beach      US     84.15  21.3156 -158.0072
4    Carnarvon      AU     77.07 -24.8667  113.6333
8         Hilo      US     78.28  19.7297 -155.0900
12     Ojinaga      MX     88.75  29.5667 -104.4167
29      Acarau      BR     77.77  -2.8856  -40.1200
30      Vanimo      PG     87.08  -2.6741  141.3028
34     Rikitea      PF     77.63 -23.1203 -134.9692
38  Butaritari      KI     81.36   3.0707  172.7902
42       Vaini      TO     80.76 -21.2000 -175.2000
43       Ukiah      US     82.29  39.1502 -123.2078

In [39]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [40]:
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng             Hotel Name
2    Ewa Beach      US     84.15  21.3156 -158.0072           Base Lodging
4    Carnarvon      AU     77.07 -24.8667  113.6333  Hospitality Carnarvon
8         Hilo      US     78.28  19.7297 -155.0900    Hilo Hawaiian Hotel
12     Ojinaga      MX     88.75  29.5667 -104.4167      Suites Las Palmas
29      Acarau      BR     77.77  -2.8856  -40.1200       castelo pizzaria
30      Vanimo      PG     87.08  -2.6741  141.3028  Vahmoneh Lodge Vanimo
34     Rikitea      PF     77.63 -23.1203 -134.9692        People ThankYou
38  Butaritari      KI     81.36   3.0707  172.7902     Isles Sunset Lodge
42       Vaini      TO     80.76 -21.2000 -175.2000    Keleti Beach Resort
43       Ukiah      US     82.29  39.1502 -123.2078      Hampton Inn Ukiah

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))