## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,53.26,47,20,17.27,few clouds
1,1,Airai,TL,-8.9266,125.4092,60.69,96,58,4.50,broken clouds
2,2,Barrow,US,71.2906,-156.7887,21.22,93,100,10.36,overcast clouds
3,3,Albany,US,42.6001,-73.9662,60.46,34,100,3.00,overcast clouds
4,4,Aklavik,CA,68.2191,-135.0107,39.20,56,20,9.22,few clouds
5,5,Davila,PH,18.4726,120.5763,82.08,77,99,5.75,overcast clouds
6,6,Yueyang,CN,29.3333,113.0919,70.11,83,88,1.23,overcast clouds
7,7,Bethel,US,41.3712,-73.4140,54.36,57,75,14.97,broken clouds
8,8,Nikolskoye,RU,59.7035,30.7861,52.72,86,99,3.13,overcast clouds
9,9,Lakselv,NO,70.0513,24.9718,37.22,65,40,10.36,scattered clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
clean_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Davila,PH,18.4726,120.5763,82.08,77,99,5.75,overcast clouds
11,11,Puerto Ayora,EC,-0.7393,-90.3518,80.56,80,45,10.11,scattered clouds
13,13,Lar,IN,26.2039,83.9717,89.76,34,12,5.79,few clouds
16,16,Avarua,CK,-21.2078,-159.7750,82.45,78,40,4.61,scattered clouds
17,17,Porto De Moz,BR,-1.7483,-52.2383,81.12,91,100,1.81,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
684,684,Ramhormoz,IR,31.2800,49.6035,81.09,17,0,11.90,clear sky
685,685,Muisne,EC,0.6000,-80.0333,80.49,79,46,8.48,scattered clouds
688,688,Kuching,MY,1.5500,110.3333,77.22,100,40,0.00,scattered clouds
695,695,Formosa,AR,-26.1775,-58.1781,76.98,50,0,4.61,clear sky
696,696,Nortelandia,BR,-14.4547,-56.8028,86.92,31,0,6.78,clear sky

In [16]:
# 4a. Determine if there are any empty rows.
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [17]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = clean_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Davila,PH,18.4726,120.5763,82.08,77,99,5.75,overcast clouds
11,11,Puerto Ayora,EC,-0.7393,-90.3518,80.56,80,45,10.11,scattered clouds
13,13,Lar,IN,26.2039,83.9717,89.76,34,12,5.79,few clouds
16,16,Avarua,CK,-21.2078,-159.7750,82.45,78,40,4.61,scattered clouds
17,17,Porto De Moz,BR,-1.7483,-52.2383,81.12,91,100,1.81,overcast clouds
...,...,...,...,...,...,...,...,...,...,...
684,684,Ramhormoz,IR,31.2800,49.6035,81.09,17,0,11.90,clear sky
685,685,Muisne,EC,0.6000,-80.0333,80.49,79,46,8.48,scattered clouds
688,688,Kuching,MY,1.5500,110.3333,77.22,100,40,0.00,scattered clouds
695,695,Formosa,AR,-26.1775,-58.1781,76.98,50,0,4.61,clear sky
696,696,Nortelandia,BR,-14.4547,-56.8028,86.92,31,0,6.78,clear sky

In [18]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Davila,PH,82.08,overcast clouds,18.4726,120.5763,
11,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,
13,Lar,IN,89.76,few clouds,26.2039,83.9717,
16,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,
17,Porto De Moz,BR,81.12,overcast clouds,-1.7483,-52.2383,
24,Rikitea,PF,77.54,broken clouds,-23.1203,-134.9692,
28,Hilo,US,76.24,few clouds,19.7297,-155.0900,
36,Omboue,GA,76.91,overcast clouds,-1.5746,9.2618,
37,Belmonte,BR,80.56,overcast clouds,-15.8631,-38.8828,
38,Kumo,NG,87.58,light rain,10.0447,11.2122,

In [21]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Davila,PH,82.08,overcast clouds,18.4726,120.5763,Blue Ridge Beach Resort
11,Puerto Ayora,EC,80.56,scattered clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
13,Lar,IN,89.76,few clouds,26.2039,83.9717,Ovaiskarni ward Lar
16,Avarua,CK,82.45,scattered clouds,-21.2078,-159.7750,Paradise Inn
17,Porto De Moz,BR,81.12,overcast clouds,-1.7483,-52.2383,Dormitório labelle
...,...,...,...,...,...,...,...
684,Ramhormoz,IR,81.09,clear sky,31.2800,49.6035,کافی نت کاریزما
685,Muisne,EC,80.49,scattered clouds,0.6000,-80.0333,Quinta Samay
688,Kuching,MY,77.22,scattered clouds,1.5500,110.3333,Hilton Kuching
695,Formosa,AR,76.98,clear sky,-26.1775,-58.1781,Asterión Hotel
696,Nortelandia,BR,86.92,clear sky,-14.4547,-56.8028,Hotel Karysmã

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))